<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>eams.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>eams.servlet.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>eams.servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>eams.servlet.UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAsset</servlet-name>
        <servlet-class>eams.servlet.AddAsset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveAsset</servlet-name>
        <servlet-class>eams.servlet.RemoveAsset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllocateAsset</servlet-name>
        <servlet-class>eams.servlet.AllocateAsset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeAllocate</servlet-name>
        <servlet-class>eams.servlet.DeAllocate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAsset</servlet-name>
        <url-pattern>/AddAsset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveAsset</servlet-name>
        <url-pattern>/RemoveAsset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllocateAsset</servlet-name>
        <url-pattern>/AllocateAsset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeAllocate</servlet-name>
        <url-pattern>/DeAllocate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
